@import "../../node_modules/bootstrap";

.example-wrapper { 
    margin: 1em auto;
    max-width: 800px;
    font: 18px/1.5 sans-serif;
}

.example-wrapper code { 
    background: #F5F5F5;
    padding: 2px 4px;
}

.difficultyRow {
    display: flex;
    align-items: center;
    margin: 0;
}

.difficulty {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.levelContainer {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    border-bottom: 1px solid gray
}

.levelColor {
    display: flex; 
    align-items: center;
}

.levelRow {
    width: 25%
}

td {
    height: 80px;
    margin: 0;
    align-items: center;
}

tr {
    border-bottom: lightGray 1px solid;
}

.link {
    text-decoration:  none;
    color: black;
}

.link:hover {
    color: darkslategray;
}
